@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 12px;
  line-height: 160%;
  color: #666;
}

img {
  vertical-align: bottom;
  border: none;
}

/*/common*/
#wrapper {
  text-align: left;
  min-width: 940px;
  overflow: hidden;
  border-top-style: solid;
  border-top-width: 5px;
}

.bd {
  border-color: #3cb371 !important;
}

/*header*/
#wrapper #header {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  display: table;
}

#wrapper #header h1 {
  float: left;
}

#log {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 35px;
}

#wrapper #header p {
  text-align: right;
}

#wrapper #header p a {
  background-image: url(../images/icon_arrow.gif);
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 10px;
}

#wrapper .spcss {
  display: none;
}

/*/header*/
/*midashi*/
#wrapper #midasi {
  margin-bottom: 24px;
  color: #FFF;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
}

.bg {
  background-color: #00a968;
}

#wrapper #midasi #flow {
  width: 940px;
  margin: 0px auto;
  padding: 5px 0;
  position: relative;
  overflow: hidden;
}

#wrapper #midasi #flow ul {
  position: relative;
  left: 50%;
}

#wrapper #midasi #flow ul li {
  position: relative;
  left: -50%;
  float: left;
  width: 172px;
  height: 43px;
  text-align: center;
  padding-top: 7px;
  font-weight: bold;
}

#wrapper #midasi #flow ul li.on {
  background-color: #FFF;
  border-radius: 5px;
}

#wrapper #midasi #flow ul li.arrow {
  position: relative;
  left: -50%;
  float: left;
  text-align: center;
  width: auto;
  color: #FFF;
  padding: 0 7px;
  height: 50px;
  line-height: 50px;
}

.cl {
  color: #0072ca;
}

/*/midasi*/
#wrapper input {
  margin: 0 5px 0 0;
  padding: 2px;
  vertical-align: middle;
}

/*main*/
#wrapper .main {
  width: 940px;
  margin: 0 auto;
}

#wrapper .headerstyle01 {
  position: relative;
  border: 1px solid #ccc !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 12px 10px 12px 0px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  background-image: url(../images/bg_headerstyle01.jpg);
  background-repeat: repeat-x;
  background-position: left bottom;
}

#wrapper .headerstyle01 span {
  background-image: url(../images/h_pc.png);
  background-position: 10px 5px;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-bottom: 10px;
}

#wrapper #item .read.header {
  margin-bottom: 0px;
}

#wrapper .read {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#wrapper .main_inner {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#wrapper #item table {
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: collapse;
}

#wrapper #item th {
  padding: 15px 10px;
  text-align: center;
}

#wrapper #item th img {
  height: auto;
  max-width: 60px;
}

#wrapper #item td {
  padding: 15px 10px;
  border-bottom: 1px solid #CCCCCC;
  vertical-align: middle;
}

#wrapper #item td.books_summary {
  table-layout: fixed !important;
  width: 660px;
}

#wrapper #item td p {
  text-align: center;
}

#wrapper #item td p.tarm_end {
  color: #D16365;
  font-weight: bold;
  text-align: center;
}

#wrapper #item td p a.off {
  display: block;
  background-image: url(../images/btn_select_off.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  width: 100px;
  height: 40px;
  text-indent: -9999px;
  margin: 0 auto;
}

#wrapper .form dd {
  background-color: #FFFFFF;
  float: left;
  width: 600px;
  padding: 10px;
}

#wrapper #item th,
#wrapper #item td {
  border-bottom: 1px solid #CCCCCC;
  vertical-align: middle;
}

/*/main*/
/*basic*/
#wrapper .main {
  width: 940px;
  margin: 0 auto;
}

#wrapper .headerstyle01 {
  border: 1px solid #ccc !important;
  /* -webkit-border-radius: 3px; */
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 12px 10px 12px 0px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

#wrapper .form {
  border-top: 1px solid #CCCCCC;
}

#wrapper .form dl {
  border-bottom: 1px solid #CCCCCC;
  display: table;
  width: 100%;
}

#wrapper .form dt {
  float: left;
  width: 260px;
  padding: 10px;
  background-color: #DDDDDD;
  overflow: hidden;
  vertical-align: top;
}

#wrapper .form dt span .new {
  display: block;
  float: left;
  font-size: 12px;
  text-align: left;
  width: 215px;
}

#wrapper .form dt span.required {
  border-radius: 3px;
  color: #FFFFFF;
  display: block;
  float: right;
  font-size: 9px;
  left: 0;
  line-height: 10px;
  padding: 3px;
  position: relative;
  text-align: center;
  top: 0;
  width: 25px;
}

#wrapper .form dd input {
  line-height: 100%;
  height: 11px;
}

#wrapper .main_inner {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 20px;
}

#wrapper .width270 {
  width: 270px;
}

/*/basic*/
/*box_btn_submit*/
#wrapper .box_btn_submit {
  background: none repeat scroll 0 0 #F6F6F6;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 900px;
  margin: 0 auto 16px;
}

#wrapper .box_btn_submit p {
  text-align: center;
}

#wrapper .spcss {
  display: none;
}

#wrapper #pagetop {
  margin-top: 80px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

#wrapper #pagetop p {
  width: 940px;
  margin: 0 auto;
  text-align: right;
}

#wrapper #pagetop p a {
  display: inline-block;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-image: url(../images/icon_pagetop.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}

#wrapper #pagetop p a span {
  display: block;
  padding: 6px 8px 3px 25px;
}

/*footer*/
#wrapper #footer {
  width: 940px;
  margin: 0 auto;
  position: relative;
  height: 100px;
}

#wrapper #footer h2 {
  position: absolute;
  top: 10px;
  left: 0;
}

#wrapper #footer p {
  position: absolute;
  right: 0;
  top: 0px;
  line-height: 100px;
}

#wrapper #footer p a {
  display: block;
  background-repeat: no-repeat;
  padding: 0 0 0 18px;
  background-image: url(../images/icon_arrow.gif);
  background-position: left center;
}

#wrapper address {
  font-size: 10px;
  font-style: normal;
  text-align: center;
  padding: 5px 0;
  color: #fff;
}

/*/footer*/
/*/box_btn_submit*/
.cl {
  color: #3cb371;
}

/*kinki*/
.check {
  background-color: yellow;
  background: #FFF100;
  margin: 15px 0;
  font-weight: bold;
  padding: 8px 0 8px 0;
  width: 100%;
}

input {
  color: #000 !important;
}

/*近畿大学風*/
.Display-Flex.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.Display-Flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*main_Pamphlet*/
.main_Pamphlet {
  border: solid 2px #E5E5E5;
  padding: 10px 25px;
  width: 886px;
  margin-top: 8px;
}

.title {
  color: #00a968;
  font-size: 19px;
  font-weight: bold;
  padding: 0 0 15px 0;
  text-shadow: 0.5px 0.5px 0.5px grey;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: top;
}

.main_Pamphlet .flex .Pamphlet_img {
  width: 15%;
}

.flex .document_content {
  width: 70%;
  margin-left: 10px;
}

.conditions {
  margin: 5px 0;
}

.check {
  background: #00a968;
  margin: 15px 0;
  font-weight: bold;
  padding: 8px 15px;
  width: 40%;
  border-radius: 5px;
}

.check label {
  color: white;
  font-size: 18px;
}

/*/main_Pamphlet*/
/*sub_Pamphlet*/
.sub_Pamphlet {
  border: solid 2px #e6e6e6;
  padding: 10px 10px 11px;
  width: 446px;
  margin: 10px 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: left;
}

.sub_Pamphlet .title {
  font-size: 18px;
  line-height: 1.4;
  height: 30px;
}

.sub_Pamphlet .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.sub_Pamphlet .flex .Pamphlet_img {
  width: 20%;
}

.sub_Pamphlet .flex .document_content {
  width: 60%;
  margin-left: 10px;
}

.sub_Pamphlet .flex .document_content .Pamphlet_content .check {
  background: #00a968;
  margin: 15px 0;
  font-weight: bold;
  padding: 8px 15px;
  width: 91%;
  border-radius: 8px;
}

.sub_Pamphlet .flex .document_content .Pamphlet_content .check label {
  color: white;
  font-size: 18px;
  vertical-align: text-top;
}

.label {
  position: relative;
  padding: 0 0 0 42px;
}

/*/sub_Pamphlet*/
/*□の調整*/
input[type=checkbox] {
  width: 23px;
  height: 23px;
  border: 1px solid blue;
  background-color: #fff;
  left: 0px;
  margin-right: -40px;
  vertical-align: middle;
  display: table-cell;
}

/*/□の調整*/
/*/kinki*/
.main_inner {
  overflow: hidden;
}

input[type=radio] {
  padding: 3px;
}

/*送信完了画面*/
.submit_layout h2 {
  text-align: center;
  margin-bottom: 20px;
}

/*トップに戻るボタン*/
.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  background-color: #999;
  opacity: .8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #fff;
}

.scroll-top:hover {
  cursor: pointer;
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */